In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("trainingData.csv") 
data.head(5)

   Sample Filename     Language
0  000kouqjfnk.mp3    Hmong Daw
1  000w3fewuqj.mp3    Tektiteko
2  000ylhu4sxl.mp3       Teribe
3  0014x3zvjrl.mp3      Chipaya
4  001xjmtk2wx.mp3  KalmykOirat

In [4]:
data['Col'] = (pd.factorize(data.Language)[0]-1) + 1
data.head(5)

   Sample Filename     Language  Col
0  000kouqjfnk.mp3    Hmong Daw    0
1  000w3fewuqj.mp3    Tektiteko    1
2  000ylhu4sxl.mp3       Teribe    2
3  0014x3zvjrl.mp3      Chipaya    3
4  001xjmtk2wx.mp3  KalmykOirat    4

In [5]:
# Se quita .mp3 del nombre
data['Sample Filename'] = data['Sample Filename'].str[:-3]

# Se elimina la columna con el nombre de los lenguajes
data = data.drop(['Language'], axis=1)
data.head(3)

  Sample Filename  Col
0    000kouqjfnk.    0
1    000w3fewuqj.    1
2    000ylhu4sxl.    2

In [6]:
del data.columns.name
data.head(5)

  Sample Filename  Col
0    000kouqjfnk.    0
1    000w3fewuqj.    1
2    000ylhu4sxl.    2
3    0014x3zvjrl.    3
4    001xjmtk2wx.    4

In [7]:
66176/2

33088.0

In [13]:
data3 = data.drop(data.index[0:33088])
data3

      Sample Filename  Col
33088    k03w3p55mrx.  168
33089    k04xhd4c5oj.  124
33090    k053gojvunj.    5
33091    k05k4s0jdhp.  155
33092    k0aisj1jfdw.  115
33093    k0bxlfcyz4e.   89
33094    k0cjksedaev.   24
33095    k0deoglw5yu.  138
33096    k0dnj4xgfhs.   10
33097    k0dqn5fo3u4.  143
33098    k0dqqh24miu.   72
33099    k0dx2tb5cyh.  102
33100    k0ej3ofmx5s.   74
33101    k0fgffqba1g.  131
33102    k0fwtkmagrd.   50
33103    k0gc22jdjqt.   77
33104    k0gwzw3tygx.   97
33105    k0hd1gvjpzx.   46
33106    k0hlhly0f1a.   93
33107    k0i1ooanj4s.  114
33108    k0jd22rsiso.   86
33109    k0jddnjwade.  111
33110    k0jlzoqtmoh.   28
33111    k0jyimjwgkl.  124
33112    k0kbvdfgqag.   71
33113    k0kcjp44gop.   37
33114    k0khvhgarxt.   12
33115    k0kr33avejc.    9
33116    k0ljmlnqk00.   48
33117    k0lmblmnggx.   12
...               ...  ...
66146    zzkelwbe2po.   23
66147    zzkqzztaz1p.  139
66148    zzm1jvukxh0.  127
66149    zzm5yzafo55.  168
66150    zzmzqopqt3l.   13
66151    zzocpyitzvw.   13
66152    zzojnksm2fw.  153
66153    zzop2q12jr4.  142
66154    zzq50cuhnpr.   26
66155    zzqkwibrpxk.  141
66156    zzrbycjapn5.    4
66157    zzrf1njjcio.   28
66158    zzrmqvoqcch.  130
66159    zzro2dlhu54.   79
66160    zzsfxkzk4d0.   39
66161    zzsij5yytij.   30
66162    zzsn4f4hev3.  143
66163    zzt2r022ce2.   91
66164    zzt5oznd3yw.  142
66165    zzuqbar4os2.  163
66166    zzvgbhizt10.  143
66167    zzvggs40jkg.   17
66168    zzwa5ufvn13.   98
66169    zzwt0ldgutk.    6
66170    zzx55eiykfd.   92
66171    zzxhqslan5a.  154
66172    zzy33edzakx.   15
66173    zzy5cc5enbs.   96
66174    zzz2pu1d4yw.  165
66175    zzzuanyyly3.  173

[33088 rows x 2 columns]

In [14]:
data3.to_csv('valEqual.csv', sep=',', index = False)